<div class="credit-card-wrap">
  <div class="mk-icon-world-map"></div>
  <div class="credit-card-inner">
    <header class="header">
      <div class="credit-logo">
        <div class="shape"><span class="txt">NP</span></div> <span class="text">NUPENG</span>
      </div>
    </header>
    <div class="mk-icon-sim"><img src="../assets/images/faces/profile/profile.jpg" style="height: 5em"></div>
    <div class="credit-font credit-card-number">Ajadi Temitope</div>
    <footer class="foot">
      <div class="clearfix">
        <div class="pull-left">
          <div class="credit-card-date"><span class="title">Expires End</span><span class="credit-font">01/21</span></div>
          <div class="credit-font credit-author">Sales</div>
        </div>
        <div class="pull-right"><div class="mk-icon-visa"></div></div>
      </div>
    </footer>
  </div>
</div>