input[type ="file"] {
    visibility: hidden;
  }
  .image-preview {
    height: 200px;
    width: 200px;
    margin: 1rem 0;
  }
  .image-preview img {
    height: 100%;
  }

  .card-description{
    font-weight: bold;
  }

  .pt-1{
    padding: 20px;
  }