/* You can add global styles to this file, and also import other style files */
.active{
	background: #000 !important;
}
.dataTables_wrapper > .dataTables_paginate > .paginate_button{
	    color: #212329 !important;
}
.paginate_button:hover{
	background-color: #212329 !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
